.card_head_button{
  display:flex;
}
.main_heading{
  text-align: center;
}
.invoice {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  // height: 100vh;
}

.invoice-header {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  margin-bottom: 20px;
}

.invoice-header-left {
  // flex: 1;
}

.invoice-header-right {
  flex: 1;
  margin-left: 30%;
}

.invoice-table {
  border: 4px solid #E64A19;
  width: 100%;
  border-collapse: collapse;
  // margin-bottom: 20%;
}

.invoice-table th,
.invoice-table td {
  // border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.invoice-table th {
  background-color: #E64A19;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.invoice-total {
  float: right;
}

.header_card{
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  background: white;
  padding: 10px;
  border-radius: 4px;
}
