.table-img{
  width:100px;
}
.customise_list{
  margin-top:55px;

}

.table_head_form{
  padding: 10px;
  // border-radius: 17px;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #4099ff, #73b4ff);

}
.form_section{
  padding: 30px;
}

.action-btn{
  margin:0 5px;
}
